@import '../../style/responsive.scss';
@import '../../style/variable.scss';

.profile {
  .boxContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include phone {
      grid-template-columns: repeat(1, 1fr);
    }

    .boxContent {
      // width: 30rem;
      height: 30rem;
      padding: 1rem;
      border: .01rem solid rgb(218, 218, 218);
      border-radius: 1rem;
      box-shadow: $boxShadow;
    }

    // .boxContent.box1 {
    //   background-color: aqua;
    // }

    // .boxContent.box2 {
    //   background-color: burlywood;
    // }
  }
}