@import '../../style/responsive.scss';
@import '../../style/variable.scss';

.modalDelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  backdrop-filter: blur(.2rem);

  .boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .box {
      background-color: #fff;
      width: 30rem;
      height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      gap: 1rem;

      .message {
        font-size: 1.6rem;
        margin-bottom: 3rem;
        text-align: center;
      }

      .btnGroup {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        button {
          padding: .7rem .5rem;
          width: 10rem;
          // border: .1rem solid salmon;
          border-radius: .5rem;
          color: #fff;
          font-size: 1.4rem;
        }

        .yes {
          background-color: green;
        }

        .cancel {
          background-color: red;
        }
      }

    }
  }
}