@import '../../style/responsive.scss';
@import '../../style/variable.scss';

.navbar {
  width: 100%;
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-between;
  background-color: $colorBackgroundNavbar;
  color: $colorBackgroundLight;

  .logo {
    width: 15rem;
    height: 5rem;
    // border: .1rem solid salmon;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include tablet {
      display: none;
    }

    img {
      width: 2.5rem;
    }

    .icon {
      cursor: pointer;
      color: white;
      font-size: 1.4rem;
    }

    .notification {
      position: relative;
      cursor: pointer;

      span {
        background-color: red;
        color: $colorBackgroundLight;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        right: -12px;
        top: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  .links.on {
    display: flex;
    // align-items: start;
    justify-content: center;
    padding: 2rem 0;
    color: white;
    // border: .1rem solid salmon;
    background-color: $colorBackgroundNavbar;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    z-index: 99;
    // flex-direction: column;
    gap: 2rem;
    // height: 50rem;
    transition: .5s linear;

  }

  .toggles {
    display: none;

    @include tablet {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
    }

    .togglesIcon {
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}