@import './responsive.scss';
@import './variable.scss';

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  columns: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $colorBackgroundLight;
}

.allContainer {
  display: flex;
  // border: .1rem solid green;
}

.sidebarContainer {
  width: 32rem;
  background-color: aqua;
  border-right: .2px solid $soft-bg;

  @include tablet {
    width: 8rem;
  }

  @include phone {
    position: absolute;
    // display: block;
    left: -20rem;
  }
}

.sidebarContainer.on {
  left: 0;
  z-index: 99;
  width: 32rem;
  // position: static;
}

.contentContainer {
  padding: 2rem 2rem;
  // max-width: 60rem;
  width: 100%;
  overflow: auto;
  // border: .1rem solid salmon;
}