// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$grey-color: #bfbfbf;
$dark-color: #2a3447;
$textGrey: #6f6f6f;

// background
$colorBackgroundLight: #f0f0f0;
$colorBackgroundDark: #263237;
$colorBackgroundNavbar: #314148;
$colorTeal: #26A79A;
$boxShadow: rgba(100, 100, 111, 0.15) 0px 0px 5px 0px;