@import '../../style/responsive.scss';
@import '../../style/variable.scss';

.sidebarContainer {
  width: 32rem;
  background-color: aqua;
  border-right: .2px solid $soft-bg;
  z-index: 99;

  @include tablet {
    position: absolute;
    left: -40rem;
    transition: .5s linear;
  }

  .sidebar {
    background-color: $colorBackgroundDark;
    color: $colorBackgroundLight;
    padding: 1.5rem;
    transition: all .9s linear;
    z-index: 99;
    transition: 2s linear all;

    .item {
      display: flex;
      flex-direction: column;
      gap: .8rem;
      margin-bottom: 2rem;

      .title {
        font-size: 1.2rem;
        font-weight: 200;
        color: $colorBackgroundLight;
      }

      .listItem {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        border-radius: .5rem;
        font-size: 1.2rem;
        font-weight: 500;

        &:hover {
          background-color: $soft-bg;
        }

        .listItemTitle {
          color: $colorBackgroundLight;
        }
      }

      .active {
        background-color: $colorTeal;
      }

    }
  }
}

.sidebarContainer.on {
  // position: absolute;
  left: 0;
  width: 22rem;
  transition: .5s linear;
}