@import '../../style/variable.scss';
@import '../../style/responsive.scss';

.footer {
  background-color: $colorBackgroundNavbar;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  position: fixed;

  .credits {
    display: flex;
    font-size: 1.4rem;
    color: white;
    text-align: center;
    line-height: 2.5rem;
  }
}