@import '../../style/responsive.scss';
@import '../../style/variable.scss';

.categoryList {
  margin-top: 2rem;

  th {
    font-size: 1.6rem;
    color: grey;
  }

  td {
    font-size: 1.4rem;
    color: grey;
  }

  .search {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;

    input {
      background-color: transparent;
      height: 2.6rem;
      width: 20rem;
      padding: 1rem;
      color: none;
      border: transparent;
      border-bottom: .001rem solid grey;
      font-size: 1.4rem;

      &:focus {
        outline: none;
      }
    }
  }
}

.actions {
  display: flex;
  gap: 1rem;

  .detail {
    color: $colorBackgroundDark;
    cursor: pointer;
  }

  .delete {
    color: rgb(177, 11, 11);
    cursor: pointer;
  }
}

.messageTotalPage {
  font-size: 1.4rem;
  color: $grey-color;
  text-align: center;
  margin-top: 2rem;
}

.messageFooter {
  font-size: 1.4rem;
  color: red;
  text-align: center;
  margin-top: 2rem;
}





@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

// .skeleton.box-images-skeleton {
//   opacity: .5;
//   width: 12.5rem;
//   height: 10rem;
//   border-radius: 1rem;
// }

.skeleton.skeletonName {
  width: 10rem;
  height: 1.64rem;
  border-radius: .5rem;
}

.skeleton.skeletonSmallCategory {
  width: 5rem;
  height: .7rem;
  border-radius: .5rem;
  margin-top: .5rem;
}

.skeleton.skeletonPrice {
  width: 5rem;
  height: 1.64rem;
  border-radius: .5rem;
}

.skeleton.skeletonCategory {
  width: 7rem;
  height: 1.64rem;
  border-radius: .5rem;
}

.skeleton.skeletonAction {
  width: 5rem;
  height: 2rem;
  border-radius: .5rem;
  border: none;
}